<div style="width: 100%;">
  <h1> Block Chain </h1>
  <div style="width: 80%;">
    <label>Select Block</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <select #blockSelect (change)="blockSelectionChange($event);">
          <option>Select</option>
          <option *ngFor="let block of blocks" [value]="block.hash">{{block.hash}}</option>
      </select>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a (click)="latestBlock();" style="cursor: pointer;text-decoration:underline;">Latest Block</a>
  </div>
  <hr/>
  <div style="width: 100%;" *ngIf="block">
    <div *ngFor="let key of ObjectKeys(block);">
      <span style="font-weight: bold;">{{key}} : </span>
      <span *ngIf="key==='tx' else elseBlock;">
        <select (change)="txChange($event);">
          <option>Select</option>
          <option *ngFor="let tx of block[key]" [value]="tx.hash">{{tx.hash}}</option>
        </select>
      </span>
      <ng-template #elseBlock>
        {{block[key]}}
      </ng-template>
    </div>
  </div>
  <hr *ngIf="transaction"/>
  <div style="width: 100%;" *ngIf="transaction">
    <div *ngFor="let key of ObjectKeys(transaction);">
      <span style="font-weight: bold;">{{key}} : </span>
      <span>{{transaction[key]}}</span>
    </div>
  </div>
</div>
